/* Style body */
body {background-color:black;font-family:arial;color:white; align: center} 

/* Style h1 inside body */
h1{color:grey;font-family:verdana; text-align: center;}

/* Style div or the box for calculator */
.maindiv {background-color:rgb(253, 253, 253); 
    font-family:arial; 
    color:rgb(0, 0, 0); 
    width: 300px; 
    padding: 20px; 
    border-radius: 25px; 
    align-items: center;



}
